<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="min-h-screen bg-gray-900 text-white">
    <div class="container mx-auto py-10">
      <!-- Upload Form -->
      <form
        action="/upload"
        method="post"
        class="flex flex-col gap-4 bg-gray-800 p-6 rounded-lg w-full max-w-lg mx-10"
      >
        <input
          name="title"
          type="text"
          placeholder="Enter Title"
          class="p-4 rounded-lg placeholder:text-white outline-none focus:ring-2 focus:ring-red-300 bg-gray-700"
          required
        />
        <textarea
          name="desc"
          placeholder="Enter The Description"
          class="p-4 rounded-lg h-40 resize-none placeholder:text-white outline-none focus:ring-2 focus:ring-blue-300 bg-gray-700"
          required
        ></textarea>
        <button
          class="bg-green-700 hover:bg-green-900 px-5 py-3 rounded-lg w-fit font-bold transition-colors duration-300 cursor-pointer"
        >
          Create File
        </button>
      </form>

      <!-- Files -->
      <div
        class="cards-container mt-10 p-6 rounded-lg flex flex-wrap gap-6 justify-start ml-5"
      >
        <% if (files && files.length > 0) { %>
          <% files.forEach(filename => { %>
            <div
              class="card p-5 rounded-lg w-auto shadow-lg hover:scale-105 transition-transform duration-300 bg-gray-800 cursor-pointer"
            >
              <div class="title text-lg font-bold mb-2"><%= filename %></div>
              <div class="flex gap-3 flex-wrap">
                <button class="font-bold bg-green-900 px-3 py-2 rounded hover:bg-green-700"
                        onclick="window.location.href='/files/<%= filename %>'">Read</button>
                <button class="font-bold bg-yellow-900 px-5 py-2 rounded hover:bg-yellow-700"
                        onclick="window.location.href='/edit-content/<%= filename %>'">Edit Content</button>
                <button class="font-bold bg-blue-900 px-5 py-2 rounded hover:bg-blue-700"
                        onclick="window.location.href='/edit/<%= filename %>'">Rename</button>
                <button class="font-bold bg-red-900 px-5 py-2 rounded hover:bg-red-700"
                        onclick="window.location.href='/delete/<%= filename %>'">Delete</button>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <div class="font-bold text-lg">No files yet</div>
        <% } %>
      </div>
    </div>
  </body>
</html>
